miRTarBase_MTI.csv
# Large raw/reference data uploaded to Zenodo
.RData
.Rhistory
miRTarBase_MTI.csv
GSM7082513_cells_chip1_mRNA.txt
GSM7082515_cells_chip2_mRNA.txt.gz

# Large generated/model files

*.pt
*.npy
*.npz
*.h5
*.h5ad
*.rds
*.RDS
*.mtx
*.mtx.gz